# ======================================================================
# SIMULATION INFO SECTION
# ======================================================================

RUN_ID = fastran
TOKAMAK_ID = GENERAL
# SHOT_NUMBER = 
# TIME_ID = 

SIM_NAME = ${RUN_ID}_${SHOT_NUMBER}

OUTPUT_PREFIX = 
LOG_FILE = ${RUN_ID}.log
LOG_LEVEL = DEBUG

INPUT_DIR_SIM = ${PWD}/input
SIM_ROOT = ${PWD}/${SHOT_NUMBER}.${TIME_ID}

RUN_COMMENT = predictive 
TAG = 

SIMULATION_MODE = NORMAL
RESTART_TIME =
RESTART_ROOT = $SIM_ROOT

# OUT_REDIRECT = True
# OUT_REDIRECT_FNAME = ${RUN_ID}.out
# USE_PORTAL = false

# ======================================================================
# PLASMA STATE SECTION
# ======================================================================

PLASMA_STATE_WORK_DIR = $SIM_ROOT/work/plasma_state

CURRENT_STATE = s${SHOT_NUMBER}.$TIME_ID
CURRENT_EQDSK = g${SHOT_NUMBER}.$TIME_ID
CURRENT_INSTATE = i${SHOT_NUMBER}.$TIME_ID
CURRENT_FASTRAN = f${SHOT_NUMBER}.$TIME_ID
CURRENT_BC = b${SHOT_NUMBER}.$TIME_ID

PLASMA_STATE_FILES = $CURRENT_STATE $CURRENT_EQDSK $CURRENT_BC $CURRENT_INSTATE

# ======================================================================
# PORTS SECTION
# ======================================================================

[PORTS]

    NAMES = INIT DRIVER EQ0 TR0 BC0 EQ IC NB TR BC MONITOR
    PREPROCESS = EQ0 TR0 BC0 

    # Required ports - DRIVER and INIT   

    [[DRIVER]]
        IMPLEMENTATION = fastran_driver

    [[INIT]]
        IMPLEMENTATION = fastran_init
      
    # Physics ports

    [[TR0]]
        IMPLEMENTATION = fastran0

    [[TR]]
        IMPLEMENTATION = fastran

    [[EQ0]]
        IMPLEMENTATION = efit0

    [[EQ]]
        IMPLEMENTATION = efit

    [[EC]]
        IMPLEMENTATION = toray

    [[HC]]
        IMPLEMENTATION = genray_hc

    [[LH]]
        IMPLEMENTATION = genray_lh

    [[IC]]
        IMPLEMENTATION = hcd_model

    [[NB]]
        IMPLEMENTATION = nfreya  
    #   IMPLEMENTATION = nubeam  

    [[BC0]]
        IMPLEMENTATION = constraint_current0

    [[BC]]
        IMPLEMENTATION = constraint_current

    [[FEEDBACK]]
        IMPLEMENTATION = constraint_feedback


    [[POST]]
        IMPLEMENTATION = fastran1

    # Monitor ports
   
    [[MONITOR]]
        IMPLEMENTATION = monitor

# ======================================================================
# COMPONENT CONFIGURATION SECTION
# ======================================================================

[fastran_init]
    CLASS = fastran
    SUB_CLASS = init
    NAME = fastran_init
    NPROC = 1
    BIN_PATH = $EFIT_BIN_DIR
    BIN = $EFIT_BIN_NAME 129 129
    INPUT_DIR = $INPUT_DIR_SIM
    INIT_METHOD = instate
    INSTATE_METHOD = model
    INSTATE = instate
#   INGEQDSK = ingeqdsk
    INPUT_FILES = $INSTATE #$INGEQDSK
    OUTPUT_FILES = 
    RESTART_FILES = 
    SCRIPT = $FASTRAN_ROOT/src/fastran_init.py

    R0_scale = 1.7
    B0_scale = 2.0

[fastran_driver]
    CLASS = fastran
    SUB_CLASS = driver
    NAME = fastran_driver
    NPROC = 1
    BIN_PATH = 
    BIN = 
    INPUT_DIR = $INPUT_DIR_SIM
    INPUT_FILES = 
    OUTPUT_FILES = 
    RESTART_FILES = 
    SCRIPT = $FASTRAN_ROOT/src/fastran_driver.py

[fastran0]
    CLASS = fastran
    SUB_CLASS = tr0
    NAME = fastran
    NPROC = 1
    NPROC_KY = 1
    BIN_PATH = $FASTRAN_BIN_DIR
    BIN = $FASTRAN_SERIAL_BIN_NAME
    INPUT_DIR = $INPUT_DIR_SIM
    INFASTRAN = infastran0
    INPUT_FILES = $INFASTRAN intglf
    OUTPUT_FILES = fastran.nc inprof inmetric infastran intglf xfastran.log
    RESTART_FILES = 
    SCRIPT = $FASTRAN_ROOT/src/fastran.py
    RELAX = 0.75
    USE_INSTATE = YES

    SERIAL = 1

[fastran]
    CLASS = fastran
    SUB_CLASS = tr
    NAME = fastran
    NPROC = 32
    NPROC_KY = 8
    BIN_PATH = $FASTRAN_BIN_DIR
    BIN = $FASTRAN_BIN_NAME
    INPUT_DIR = $INPUT_DIR_SIM
    INFASTRAN = infastran
    INPUT_FILES = $INFASTRAN intglf
    OUTPUT_FILES = fastran.nc inprof inmetric infastran intglf xfastran.log
    RESTART_FILES = 
    SCRIPT = $FASTRAN_ROOT/src/fastran.py
#   ADJUST_IP = 0 
#   FNI = 0.95
#   RELAX_IP = 1.0
    RELAX = 0.75 # 0.25 0.75 
    USE_INSTATE = YES

#   FREEZE = 0
#   REFREEZE = 100
#   UPDATE_INFASTRAN_SOLVE_NE = "[0, 0] + 1000*[1]"
#   UPDATE_INFASTRAN_RHO_BDRY = "[0.875] + 1000*[0.875]"

[fastran1]
    CLASS = fastran
    SUB_CLASS = post
    NAME = fastran
    NPROC = 32
    NPROC_KY = 8
    BIN_PATH = $FASTRAN_BIN_DIR
    BIN = $FASTRAN_BIN_NAME
    INFASTRAN = infastran1
    INPUT_DIR = $INPUT_DIR_SIM
    INPUT_FILES = $INFASTRAN intglf
    OUTPUT_FILES = fastran.nc inprof inmetric infastran intglf xfastran.log
    RESTART_FILES =
    SCRIPT = $FASTRAN_ROOT/src/fastran.py
    RELAX = 1.0
    USE_INSTATE = YES

[efit0]
    CLASS = fastran
    SUB_CLASS = eq0
    NAME = efit
    NPROC = 1
    BIN_PATH = $EFIT_BIN_DIR
    BIN = $EFIT_BIN_NAME 129 129
    INPUT_DIR = $INPUT_DIR_SIM
    INSTATE = instate
    INPUT_FILES = $INSTATE
    OUTPUT_FILES = g*.* a*.* m*.* k*.* efit.log s*.*
    RESTART_FILES =
    SCRIPT = $FASTRAN_ROOT/src/efit.py
     
    INIT_RUN = 1 
    INIT_RUN_STEP = 0
    NITER = 10
    PRESSURE = 'kinetic' # 'total'

    TOPOLOGY = DN
    SCALE_GS = 1
    R0_scale = 1.7
    B0_scale = 2.0

    SERIAL = 1

[efit]
    CLASS = fastran
    SUB_CLASS = eq
    NAME = efit
    NPROC = 1
    BIN_PATH = $EFIT_BIN_DIR
    BIN = $EFIT_BIN_NAME 129 129
    INPUT_DIR = $INPUT_DIR_SIM
    INSTATE = instate
    INPUT_FILES = $INSTATE
    OUTPUT_FILES = g*.* a*.* m*.* k*.* efit.log s*.*
    RESTART_FILES =
    SCRIPT = $FASTRAN_ROOT/src/efit.py

    INIT_RUN = 0 
    INIT_RUN_STEP = 0
    NITER = 10
    PRESSURE = 'kinetic' # 'total'

    TOPOLOGY = DN
    SCALE_GS = 1
    R0_scale = 1.7
    B0_scale = 2.0

    SERIAL = 1

#   PROFILE_RELAX = 1

#   FREEZE = 1
#   REFREEZE = 100

#   BETAN_TARGET = 3.5

[esc]
    CLASS = fastran
    SUB_CLASS = eq
    NAME = esc
    NPROC = 1
    BIN_PATH = $ESC_BIN_DIR
    BIN = $ESC_BIN_NAME
    INPUT_DIR = $INPUT_DIR_SIM
    INPUT_FILES = 
    OUTPUT_FILES = geqdsk xesc.log
    RESTART_FILES = 
    SCRIPT = $FASTRAN_ROOT/src/esc.py

[nubeam]
    CLASS = fastran
    SUB_CLASS = nb
    NAME = nubeam
    NPROC = 24
    BIN_PATH = $NUBEAM_BIN_DIR
    BIN = $NUBEAM_BIN_NAME
    PREACT = $DATA_ROOT/nubeam/PREACT
    ADAS = $DATA_ROOT/nubeam/ADAS
    INPUT_DIR = $INPUT_DIR_SIM
    INPUT_FILES = innubeam
    OUTPUT_FILES = log.nubeam*  state_changes.cdf
    RESTART_FILES = *.cdf *.dat nubeam_comp_exec.RUNID
    SCRIPT = $FASTRAN_ROOT/src/nubeam.py
    COPY_PREACT = 0

[toray]
    CLASS = fastran
    SUB_CLASS = ec
    NAME = toray
    NPROC = 1
    BIN_PATH = $TORAY_BIN_DIR
    BIN = $TORAY_BIN_NAME
    INPUT_DIR = $INPUT_DIR_SIM
    INPUT_FILES = intoray
    OUTPUT_FILES = toray.nc outtoray xtoray.log
    RESTART_FILES = 
    SCRIPT = $FASTRAN_ROOT/src/toray.py

[genray_hc]
    CLASS = fastran
    SUB_CLASS = hc 
    NAME = genray
    NPROC = 1
    BIN_PATH = $GENRAY_BIN_DIR
    BIN = $GENRAY_BIN_NAME
    INPUT_DIR = $INPUT_DIR_SIM
    INGENRAY = ingenray_HC
    INPUT_FILES = $INGENRAY 
    OUTPUT_FILES = genray.nc xgenray.log
    UNIT = #MKS
    RESTART_FILES = 
    SCRIPT = $FASTRAN_ROOT/src/genray.py
    ADD = 1

    SERIAL = 1

[genray_lh]
    CLASS = fastran
    SUB_CLASS = lh 
    NAME = genray
    NPROC = 1
    BIN_PATH = $GENRAY_BIN_DIR
    BIN = $GENRAY_BIN_NAME
    INPUT_DIR = $INPUT_DIR_SIM
    INGENRAY = ingenray_LH
    INPUT_FILES = $INGENRAY
    OUTPUT_FILES = genray.nc xgenray.log
    RESTART_FILES = 
    SCRIPT = $FASTRAN_ROOT/src/genray.py
    UNIT = MKS
    ADD = 1

    SERIAL = 1

[hcd_model]
    CLASS = fastran
    SUB_CLASS = ic 
    NAME = hcd_model
    NPROC = 1
    BIN_PATH =
    BIN =
    INPUT_DIR = $INPUT_DIR_SIM
    INPUT_FILES = inhcd
    OUTPUT_FILES =
    RESTART_FILES =
    SCRIPT = $FASTRAN_ROOT/src/hcd_model.py
    ADD = 0

[nfreya]
    CLASS = fastran
    SUB_CLASS = nb
    NAME = nfreya
    NPROC = 1
    BIN_PATH = $NFREYA_BIN_PATH
    BIN = $NFREYA_BIN_NAME
    INPUT_DIR = $INPUT_DIR_SIM
    INPUT_FILES = innfreya
    OUTPUT_FILES = outone
    RESTART_FILES =
    SCRIPT = $FASTRAN_ROOT/src/nfreya.py
    DIR_DATA = $NFREYA_DATA_ROOT
#   PS_BACKEND = INSTATE
    UPDATE_STATE = 1

#   FEEDBACK = 1

[constraint_current]
    CLASS = fastran
    SUB_CLASS = tr
    NAME = constraint_current
    NPROC = 1
    BIN_PATH = 
    BIN = 
    INPUT_DIR = $INPUT_DIR_SIM
    INPUT_FILES = 
    OUTPUT_FILES = 
    RESTART_FILES = 
    SCRIPT = $FASTRAN_ROOT/src/constraint_current.py

    METHOD = broadJ
    # NTUF
    RHO_J = 0.6
    # CAT
    # RHO_J = 0.65
    JAXIS = 0.6
    RHO_JBDRY = 0.85

#   END_TIME = 1

[constraint_current0]
    CLASS = fastran
    SUB_CLASS = pre
    NAME = constraint_current
    NPROC = 1
    BIN_PATH = 
    BIN = 
    INPUT_DIR = $INPUT_DIR_SIM
    INPUT_FILES = 
    OUTPUT_FILES = 
    RESTART_FILES = 
    SCRIPT = $FASTRAN_ROOT/src/constraint_current.py

    METHOD = broadJ
    # NTUF
    RHO_J = 0.6
    # CAT
    # RHO_J = 0.65 
    JAXIS = 0.6
    RHO_JBDRY = 0.85

[constraint_feedback]
    CLASS = fastran
    SUB_CLASS = 
    NAME = constraint_feedback
    NPROC = 1
    BIN_PATH = 
    BIN = 
    INPUT_DIR = $INPUT_DIR_SIM
    INPUT_FILES = 
    OUTPUT_FILES = 
    RESTART_FILES = 
    SCRIPT = $FASTRAN_ROOT/src/constraint_feedback.py

[monitor]
    CLASS = monitor
    SUB_CLASS =
    NAME = monitor
    NPROC = 1
    BIN_PATH = 
    BIN = 
    INPUT_DIR = 
    INPUT_FILES = 
    OUTPUT_FILES = 
    RESTART_FILES = 
    SCRIPT = $FASTRAN_ROOT/src/monitor.py

# =============================================================================
# ITERATION LOOP SECTION
# =============================================================================

[ITERATION_LOOP]
    MODE = REGULAR
    NSTEP = 5
