# ======================================================================
# USER DATA SECTION
# ======================================================================

USER = somebody

# ======================================================================
# SIMULATION INFO SECTION
# ======================================================================

RUN_ID = fastran
TOKAMAK_ID = D3D
SHOT_NUMBER = 165042
TIME_ID = 00001

SIM_NAME = ${RUN_ID}_${SHOT_NUMBER}

OUTPUT_PREFIX = 
LOG_FILE = ${RUN_ID}.log
LOG_LEVEL = DEBUG

INPUT_DIR_SIM = ${PWD}/input
SIM_ROOT = ${PWD}/${SHOT_NUMBER}.${TIME_ID}

RUN_COMMENT = d3d analysis, tglf validation, ...
TAG = 

SIMULATION_MODE = NORMAL
RESTART_TIME =
RESTART_ROOT = $SIM_ROOT

# ======================================================================
# PLASMA STATE SECTION
# ======================================================================

PLASMA_STATE_WORK_DIR = $SIM_ROOT/work/plasma_state

CURRENT_STATE = s${SHOT_NUMBER}.$TIME_ID
CURRENT_EQDSK = g${SHOT_NUMBER}.$TIME_ID
CURRENT_INSTATE = i${SHOT_NUMBER}.$TIME_ID
CURRENT_FASTRAN = f${SHOT_NUMBER}.$TIME_ID
CURRENT_BC = b${SHOT_NUMBER}.$TIME_ID

PLASMA_STATE_FILES = $CURRENT_STATE $CURRENT_EQDSK $CURRENT_BC

# ======================================================================
# PORTS SECTION
# ======================================================================

[PORTS]

    NAMES = INIT DRIVER EQ EC NB TR MONITOR

    # Required ports - DRIVER and INIT   

    [[DRIVER]]
        IMPLEMENTATION = fastran_driver

    [[INIT]]
        IMPLEMENTATION = fastran_init
      
    # Physics ports

    [[TR]]
        IMPLEMENTATION = fastran

    [[EQ]]
        IMPLEMENTATION = efit

    [[EC]]
        IMPLEMENTATION = toray

    [[IC]]
        IMPLEMENTATION = genray 

    [[NB]]
        IMPLEMENTATION = nubeam 

    # Monitor ports
   
    [[MONITOR]]
        IMPLEMENTATION = monitor

# ======================================================================
# COMPONENT CONFIGURATION SECTION
# ======================================================================

[fastran_init]
    CLASS = fastran
    SUB_CLASS = init
    NAME = fastran_init
    NPROC = 1
    BIN_PATH = $EFIT_BIN_DIR
    BIN = $EFIT_BIN_NAME 129 129
    INPUT_DIR = $INPUT_DIR_SIM
    INIT_METHOD = instate
    INSTATE_METHOD =
    INSTATE = instate
    INPUT_FILES = $INSTATE 
    INIT_EQ = efit 
    OUTPUT_FILES = 
    RESTART_FILES = 
    SCRIPT = $FASTRAN_ROOT/src/fastran_init.py

[fastran_driver]
    CLASS = fastran
    SUB_CLASS = driver
    NAME = fastran_driver
    NPROC = 1
    BIN_PATH = $FASTRAN_ROOT/bin
    INPUT_DIR = $INPUT_DIR_SIM
    INPUT_FILES = 
    OUTPUT_FILES = 
    RESTART_FILES = 
    SCRIPT = $FASTRAN_ROOT/src/fastran_driver.py

[fastran]
    CLASS = fastran
    SUB_CLASS = tr
    NAME = fastran
    NPROC = 21
    NPROC_KY = 21
    BIN_PATH = $FASTRAN_BIN_DIR
    BIN = $FASTRAN_BIN_NAME
    INPUT_DIR = $INPUT_DIR_SIM
    INPUT_FILES = infastran intglf
    OUTPUT_FILES = fastran.nc inprof inmetric infastran intglf xfastran.log
    RESTART_FILES = 
    SCRIPT = $FASTRAN_ROOT/src/fastran.py

[efit]
    CLASS = fastran
    SUB_CLASS = eq
    NAME = efit
    NPROC = 1
    RESTART = 1
    NITER = 10
    PRESSURE = 'total' #'kinetic' 'total'
    BIN_PATH = $EFIT_BIN_DIR
    BIN = $EFIT_BIN_NAME 129 129
    INIT_RUN = 0
    INPUT_DIR = $INPUT_DIR_SIM
    INSTATE = instate
    INPUT_FILES = $INSTATE
    OUTPUT_FILES = g*.* a*.* m*.* k*.* efit.log
    RESTART_FILES =
    SCRIPT = $FASTRAN_ROOT/src/efit.py

[nubeam]
    CLASS = fastran
    SUB_CLASS = nb
    NAME = nubeam
    NPROC = 24
    BIN_PATH = $NUBEAM_BIN_DIR
    BIN = $NUBEAM_BIN_NAME
    PREACT = $DATA_ROOT/nubeam/PREACT
    ADAS = $DATA_ROOT/nubeam/ADAS
    INPUT_DIR = $INPUT_DIR_SIM
    INPUT_FILES = innubeam
    OUTPUT_FILES = log.nubeam*  state_changes.cdf
    RESTART_FILES = *.cdf *.dat nubeam_comp_exec.RUNID
    SCRIPT = $FASTRAN_ROOT/src/nubeam.py
    COPY_PREACT = 0

[toray]
    CLASS = fastran
    SUB_CLASS = ec
    NAME = toray
    NPROC = 1
    BIN_PATH = $TORAY_BIN_DIR
    BIN = $TORAY_BIN_NAME
    INPUT_DIR = $INPUT_DIR_SIM
    INPUT_FILES = intoray
    OUTPUT_FILES = toray.nc outtoray xtoray.log
    RESTART_FILES = 
    SCRIPT = $FASTRAN_ROOT/src/toray.py

[genray]
    CLASS = fastran
    SUB_CLASS = ic 
    NAME = genray
    NPROC = 1
    BIN_PATH = $GENRAY_BIN_DIR
    BIN = $GENRAY_BIN_NAME
    INPUT_DIR = $INPUT_DIR_SIM
    INPUT_FILES = ingenray
    OUTPUT_FILES = genray.nc xgenray.log
    RESTART_FILES = 
    SCRIPT = $FASTRAN_ROOT/src/genray.py

[monitor]
    CLASS = monitor
    SUB_CLASS =
    NAME = monitor
    NPROC = 1
    BIN_PATH = 
    BIN = 
    INPUT_DIR = 
    INPUT_FILES = 
    OUTPUT_FILES = 
    RESTART_FILES = 
    SCRIPT = $FASTRAN_ROOT/src/monitor.py

# =============================================================================
# ITERATION LOOP SECTION
# =============================================================================

[ITERATION_LOOP]
    MODE = REGULAR
    NSTEP = 1 
